body{
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, black, silver); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, black, silver); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, black, silver); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, black, silver); /* Standard syntax */
  background-repeat: no-repeat;
  height: 1000px;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-fixed-top{
    width: 100%;
}

.navText{
  margin: 0 40px;
  text-decoration: none;
  color: limegreen;
}

.navText:hover{
  text-decoration: none;
  font-weight: bold;
  color: green
}

.jumbotron{
  display: flex;
  justify-content: center;
  background-image: url(https://smina12.files.wordpress.com/2014/02/carbon-fiber.png);
  color: limegreen;
}

.pageName{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 100px;
  opacity:
}

.content{
  display: flex;
  justify-content: center;
  width: 100%;
}

.innerContent{
  display: flex;
  justify-content: center;
  width: 75%;
  color: black;
}

.pageImage{
  height: 200px;
  margin:20px;
}

.linkImage{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 150px;
  margin: 0;
}

.refLink{
  margin-left: 1em;
  color: limegreen;
}

li{
  display: flex;
  justify-content: center;
  list-style: none;
}
